<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h1>Delete publication?</h1>
<p>{{ post.title }}</p>
<form method="POST">
    {% csrf_token %}
    <button style="background-color: red; color: white;" type="submit">Yes, delete</button>
</form>
<br>
<a href="{% url 'detail' post.id %}"><button style="background-color: green; color: white;">Cancel</button></a>
</body>
</html>